run = "npm run dev"
modules = ["nodejs-20"]
hidden = [".config", "tsconfig.json", "tsconfig.node.json", "vite.config.js", ".gitignore"]
entrypoint = "src/App.tsx"

[nix]
channel = "stable-24_05"
packages = ["openssh", "zip"]

[unitTest]
language = "nodejs"

[deployment]
deploymentTarget = "static"
build = ["npm", "run", "build"]
publicDir = "dist"

[[ports]]
localPort = 5173
externalPort = 80
exposeLocalhost = true

[[ports]]
localPort = 5174
externalPort = 3000
exposeLocalhost = true

[[ports]]
localPort = 5175
externalPort = 3001
exposeLocalhost = true

[[ports]]
localPort = 5176

[workflows]
runButton = "Start Dev Server"

[[workflows.workflow]]
name = "Start Dev Server"
author = 44096526
mode = "sequential"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "npm run dev"
